body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: mediumvioletred;
}

header {
    display: flex;
    justify-content: space-between;
}

.quizContainer {
    align-content: center;
    align-self: center;
    justify-content: left;
    text-align: left;
}


.challenge {
    display: flex;
    justify-content: center;
}

#para {
    align-content: center;
    justify-content: center;
    margin: auto;
    text-align: center;

}

.theQuiz {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 15px;
}

button {
    background-color:blueviolet;
    color: white;
    height: 50px;
    width: 100px;
    font-size: 20;
    align-content: center;
    font-weight: bolder;
}

#sixty {
    display: inline;
    font-size: 24px;
}

#theTime {
    display: inline-flex;
    position: absolute;
    right: 150px;
}

#start {
    align-content: center;
    justify-content: center;
}

#q {
    align-content: center;
}
