body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

h2 {
    color: mediumvioletred;
}

button {
    background-color:blueviolet;
    color: white;
}

#highScore {
    float:left;
}

#time {
    float:right;
}

#highScore {
    float:left;
}